body {
    margin: 0%;
    padding: 0%;
    background-color: aliceblue;
}

.container {
    text-align: center;
    font-family: product sans;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

@media (min-width : 600px) {
    .container > #time {
        font-size: 200px;
        color:rgb(77, 111, 144);
    }
    #meridian {
        font-size: 125px;
        color:rgb(77, 111, 144);
    }
}
@media (max-width : 599px) {
    .container > #time {
        font-size: 70px;
        color:rgb(77, 111, 144);
    }
    #meridian {
        font-size: 35px;
        color:rgb(77, 111, 144);
    }
}